body {
  /*reset all margin and padding*/
  margin: 0px;
  padding: 0px;
  background-color: #fff9ee;
}

.about {
  margin-bottom: 50px;
}

footer {
  background-color: #4f4f4f;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 50px;
}
