body {
  /*reset all margin and padding*/
  margin: 0px;
  padding: 0px;
  background-color: #fff9ee;
}

.about {
  margin-bottom: 0px;
}

.portfolio {
  margin-bottom: 50px;
}

footer {
  background-color: #4f4f4f;
  position: initial;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.back-to-top {
  position: fix;
  bottom: 75px;
  right: 25px;
  display: none;
}
